@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <div class="form-row">
            <div class="form-group col-md">
                <label asp-for="Address.Street"></label>
                <input asp-for="Address.Street" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.Number"></label>
                <input asp-for="Address.Number" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.ZipCode"></label>
                <input asp-for="Address.ZipCode" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" /><br />
            </div>
            <button type="submit">Zatwierdź</button>

        </div>
    </form>



